<template name="cardSidebarItemArsnovaApp">
    {{#if isCardsetOwner this._id}}
        {{#unless isIOSSafari}}
            <img class="hidden-xs showArsnovaApp card-button btn cardHeaderItem"
                 data-type="cardNavigation"
                 src="/img/button/arsnova_app_v2.png"
                 title="{{_ "card.tooltip.arsnovaApp"}}">
        {{/unless}}
    {{/if}}
</template>

<template name="arsnovaAppModal">
    {{#unless isIOSSafari}}
        <div class="modal" id="arsnovaAppModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
            </div>
        </div>
    {{/unless}}
</template>
